body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: Source Han Sans CN-Regular;
  font-size: 16px;
}

.limit-line {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  word-wrap: break-word;
}

.line-2 {
  -webkit-line-clamp: 2;
}
